<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4124be6e-e6e9-4443-a2ba-319422f215d5/resourcegroups/ReeinventTest220241120151353ResourceGroup/providers/Microsoft.Web/sites/ReeinventTest220241121170034</ResourceId>
    <ResourceGroup>ReeinventTest220241120151353ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/4124be6e-e6e9-4443-a2ba-319422f215d5/resourceGroups/ReeinventTest220241120151353ResourceGroup/providers/Microsoft.ApiManagement/service/ReeinventTest2api/apis/ReeinventTest2</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://reeinventtest220241121170034.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d88c8f66-f0a9-4cb7-92e2-4e7b8e1aff33</ProjectGuid>
    <MSDeployServiceURL>reeinventtest220241121170034.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ReeinventTest220241121170034</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ReeinventTest220241121170034</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>